:root{
    --colour1:#E76F51;
    --colour2:#264653;
    --colour3:#2A9D8F;
    --colour4:#E9C46A;
    --colour5:#F4A261;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    color: var(--colour2)!important;
}

h4{
    color: var(--colour3)!important;
}

body{
    background: var(--colour2);
}

.row{
    background: #FFF;
    border-radius: 30px;
    /* box-shadow: 12px 12px 12px grey; */
}

img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: var(--colour2);
    color: #FFF;
    border-radius: 4px;
    font-weight: bold;
}

.btn1:hover{
    background-color: var(--colour3);
    border: 1px solid;
    color: rgb(0, 0, 0);
}

a{
    text-decoration: none;
    color: var(--colour5);
}

a:hover{
    transition:0.3s ease;
    color: var(--colour1);
}


